body{
    background-color: rgb(53, 52, 52);
    display: flex;
    
    
    justify-content: center; 
    padding-top: 10%;

    

}
td{
    background-color: white;
    box-shadow: 5px 3px 3px rgb(19, 19, 20);
}

.CalculatorFrame{
    border:2px solid white;
    padding: 20px 5px 10px 5px;
    /* margin:100px; */
}
#screen{
    background-color: gray!important;
}